.container {
    display: flex;

    max-width: 1536px;
    margin: 0 auto;
}

.card-wrapper {
    margin: 0 0 30px;
    display: inline-block;
    width: 100%;
}

.cards {
    min-height: calc(100vh - 120px);
    padding: 2rem;
}

.cards {
    max-width: 100%;
    column-gap: 30px;
}


@media screen and (min-width: 620px) {
    .container {
        display: grid;
        grid-template-columns: 220px 1fr;
    }

}

@media screen and (min-width: 768px) {
    .cards {
        column-count: 2;
    }
}

@media screen and (min-width: 1080px) {
    .cards {
        column-count: 3;
    }
}