.container {
    display: none;
    border-right: var(--b-main);
}

.nav {
    position: sticky;
    top: 80px;
    padding: 1rem 2rem;
}

.list {
    display: flex;
    flex-direction: column;
    /* gap: 0.75rem; */
}

.button {
    width: 100%;
    text-align: left;
    font-size: var(--f-s-sm);
    padding: .75rem 1rem;


    color: var(--c-cadetblue);
    background-color: transparent;

    border: 0;
    outline: 0;

    border-radius: var(--br-sm);
    cursor: pointer;

    transition: all 0.2s ease-in-out;
}

.button.active {
    font-weight: var(--f-bold);
    color: var(--c-linkwater);
    background-color: color-mix(in srgb, var(--c-linkwater) 5%, transparent);
}

.button:hover {
    color: var(--c-linkwater);
}

@media screen and (min-width: 620px) {
    .container {
        display: block;
    }
}