.blob {
    display: none;
}

.nav {
    position: sticky;
    top: 80px;
    padding: 1rem 2rem;
}

.list {
    display: flex;
    flex-direction: column;
}

.button {
    width: 100%;
    text-align: left;
    font-size: var(--f-s-base);
    padding: .75rem 1rem;

    color: var(--c-cadetblue);
    background-color: transparent;

    border: 0;
    outline: 0;
    border-radius: var(--br-sm);
    cursor: pointer;

    transition: color 0.2s ease-in-out, opacity 3s ease-in-out;
}

.button.active {
    font-weight: var(--f-bold);
    color: var(--c-linkwater);
    background-color: color-mix(in srgb, var(--c-linkwater) 5%, transparent);
}

.button:hover {
    color: var(--c-linkwater);
}

@media (0 < width < 620px) {
    .container {
        position: fixed;
        top: 100vh;
        background-color: transparent;

        z-index: 10;
    }

    .container.active {
        width: 75%;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
    }

    .container .button {
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
        -webkit-transition-delay: 0.4s;
        -moz-transition-delay: 0.4s;
        -o-transition-delay: 0.4s;
        transition-delay: 0.4s;
    }

    .container.active .button {
        opacity: 1;
    }

    .container .blob {
        display: block;
        position: absolute;
        inset: 0;
        background-color: var(--c-electricviolet);

        clip-path: circle(0% at 90% 95%);
        transition:
            clip-path 0.8s ease-in-out;
    }

    .container.active .blob {
        clip-path: circle(100%);
    }
}

@media screen and (min-width: 620px) {
    .container {
        display: block;
        border-right: var(--b-main);
        background-color: transparent;
        position: relative;
        width: 100%;
    }

    .button {
        font-size: var(--f-s-sm);
    }
}