.sidebar {
    display: none;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60%;

    background-color: var(--c-electricviolet);

    z-index: 10;
}

.sidebar.active {
    display: block;
    
}