.container {
    margin: 5rem auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.paragraph {
    line-height: 1.5;
    font-size: var(--f-s-base);
    color: var(--c-cadetblue);
}

@media screen and (min-width: 720px) {
    .container {
        max-width: 30%;
    }

    .image {
        padding: 3rem 3rem 2rem 3rem;
    }
}